# SPDX-FileCopyrightText: 2022 Johannes Keyser
#
# SPDX-License-Identifier: CC0-1.0

*.m~
*.swp
# generated output data from create_SimulationData.m:
/Exp1Cond1_Vec_tauA.csv
/Exp1Cond1_Vec_tauO.csv
/Exp1Cond2_Vec_tauA.csv
/Exp1Cond2_Vec_tauO.csv
/Exp1Cond3_Vec_tauA.csv
/Exp1Cond3_Vec_tauO.csv
/Exp2Cond1_Vec_tauA.csv
/Exp2Cond1_Vec_tauO.csv
/Exp2Cond2_Vec_tauA.csv
/Exp2Cond2_Vec_tauO.csv
/Exp2Cond3_Vec_tauA.csv
/Exp2Cond3_Vec_tauO.csv
# generated data and figures from compute_PXisPrcShfts.m:
/Exp1_PXisPrcShfts.png
/Exp1_arrPrcShftA.csv
/Exp1_arrPrcShftO.csv
/Exp2_PXisPrcShfts.png
/Exp2_arrPrcShftA.csv
/Exp2_arrPrcShftO.csv
# generated figures from compute_PerTrialPrcShfts.m:
/Exp1_PXisPrcShftsAO.png
/Exp1_perTrialPrcShfts.png
/Exp2_PXisPrcShftsAO.png
/Exp2_perTrialPrcShfts.png
# generated figures from compute_CCEPXi1.m
/Exp1_CCEPXi.png
/Exp2_CCEPXi.png
# generated figures from compute_PerTrialCCE.m:
/Exp1_perTrialCCE.png
/Exp2_perTrialCCE.png
