*.m~
*.swp
/Exp1Cond1_Vec_taoA.csv
/Exp1Cond1_Vec_taoO.csv
/Exp1Cond2_Vec_taoA.csv
/Exp1Cond2_Vec_taoO.csv
/Exp1Cond3_Vec_taoA.csv
/Exp1Cond3_Vec_taoO.csv
/Exp1_PXisPrcShfts.png
/Exp1_arrPrcShftA.csv
/Exp1_arrPrcShftO.csv
/Exp1_perTrialBaselinePrcShfts.png
/Exp1_perTrialOperantPrcShfts.png
/Exp1_perTrialPrcShftA.png
/Exp1_perTrialPrcShftO.png
/Exp1_CCEPXi.png
/Exp1_perTrialCCE.png
